* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.all {
    display: flex;

}
.formView {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 5%;
}
.divTitle {
    width: 82%;
    display: flex;
    flex-direction: column;
    margin-top: 8em;

}
.divTitle label {
    align-self: baseline;
}

.viewTitle {
    width: 92%;
    height: 7vh;
    margin-top: 1em;
    background: #F9F9F9;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    padding: 2%;    
}
.conditionsView {
    display: flex;
    flex-direction: column;
    width: 118vh;
    
}
.conditionsView .conditionsTitle {
    align-self: baseline;
    margin-top: 2em;
    margin-bottom: -3vh;
}
.itensView {
    display: flex;
    justify-content: space-between;
    width: 92%;
    height: 7vh;
    margin-top: 1em;
    margin-bottom: 2%;
}
.itensView-extra {
    display: flex;
    justify-content: space-between;
    width: 89vh;
    height: 7vh;
    margin-left: 22%;
    align-items: center;
}
.item {
    margin-top: 1em;

    width: 23%;
    height: 7vh;
    background: #F9F9F9;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.itemExtra {
    width: 23%;
    height: 7vh;
    background: #F9F9F9;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.divAdd {
    display: flex;
    flex-direction: row-reverse;
    display: flex;
    align-self: center;
    width: 92%;
    margin-top: 2em;
}
.divSave {
    display: flex;
    flex-direction: row-reverse;
    display: flex;
    align-self: center;
    width: 76%;
    margin-top: 2em;
}
.add {
    transition: all 0.5s;
    width: 20%;
    height: 6vh;
    background: #242C91;
    border-radius: 6px;
    border: none;
    align-self: flex-end;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}
.add:hover {
    background-color: rgb(74, 83, 202);

}
.save {
    margin-top: 1em;
    margin-bottom: 3vh;
    transition: all 0.5s;
    width: 20%;
    height: 6vh;
    background: #AD1130;
    border-radius: 6px;
    border: none;
    align-self: flex-end;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}
.save:hover {
    background-color: rgb(202, 74, 74);
}
/* .listView {
    height: 300vh;
    width: 50vh;
    margin-left: 40px;
    background: #F6F6F6;
    box-shadow: 1px 0px 9px rgba(0, 0, 0, 0.39);
} */
.general .remove-value {
    background-image: url(https://image.flaticon.com/icons/svg/32/32178.svg);
    width: 3vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 3vh;
    cursor: pointer;
    margin: auto;
}
.general {
    width: 135vh;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 1%;
}
.columns {
    width: 80%;
    display: flex;
    align-items: baseline;
    flex-direction: column;

}

.columns .title {
    margin-right: 48%;
}
.columnDiv {
    display: inline;
    width: 15%;
    padding: 1%;
    background-color: purple;
}

.orderGeral {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}
.orderGeral label {
    align-self: baseline;
}
.order {
    justify-content: space-between;
    display: flex;
    width: 95%;
}
.columnCheckbox {
    margin-top: 1vh;
    -webkit-appearance: none;
}
.columnCheckbox:checked {
    -webkit-appearance: none;
    background-color: #242C91;
}
.closeImg {
    background-image: url("https://image.flaticon.com/icons/png/512/14/14704.png");
    width: 10%;
    height: 3vh;
    background-repeat: no-repeat;
}
.columnDiv label {
    align-self: center;
}
.allCheckbox {
    width: 100%;
    margin-top: 1%;
    flex-wrap: wrap;
    display: flex;
}


ul.ks-cboxtags {
    list-style: none;
    align-content: center;
    display: flex;
    margin: 0 1%;
}
ul.ks-cboxtags li{
    /* padding: 0 10px; */

}
ul.ks-cboxtags li label{
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;

    
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
    background-color: rgb(33, 40, 138);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    transition: all .2s;
}
.checkImg {
    width: 15px;
    height: 1vh;
    background-image: url(https://image.flaticon.com/icons/svg/32/32178.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    fill: #fff;
}
ul.ks-cboxtags li input[type="checkbox"] {
    -webkit-appearance: none
}

ul.ks-cboxtags label input[type="checkbox"]:checked{
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
    
}

form{
    width: 72%;
    text-align: -webkit-center;
}
