*{
    margin: 0;
    padding: 0;
}
.add-value {
    color:#ffffff;
    border: none;
    font-size: 1em;
    background-color: #120055;
    padding: 1.5%;
    width: 85%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}
.btn--add-new-field{
    width: 48%;
    display: flex;
    justify-content: center;
    margin-top: 6%;

}
.btn--add-new-field button{
    color:#ffffff;
    border: none;
    font-size: 1em;
    background-color: #120055;
    padding: 1.8%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}
.btn--save-field{
    width: 93%;
    display: flex;
    justify-content: flex-end;
    height: 15vh;
    margin-bottom: 15%;
}
.btn--save-field button{
    color:#ffffff;
    border: none;
    font-size: 1em;
    background-color: #AD113D;
    padding: 1%;
    border-radius: 5px;
    cursor: pointer;
    width: 35%;
    height: 6vh;
    box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}
.check-box--required{
    display: flex;
    width: 90%;
    height: 7vh;
    align-items: center;
    padding: 2%;
}
.check-box--required input{
    height: 3vh;
    width: 5.5%;
    -webkit-appearance: none; 
    border: #DDDDDD 1px solid;
    background-color: #FFFFFF;
}
.check-box--required input:checked{
    background-image: url("https://image.flaticon.com/icons/svg/109/109554.svg");
    background-repeat: no-repeat;
}
.check-box--required label{
    margin-left: 1%;
    color: #8C8C8C;
    font-size: 1.1em;
}
.close--add-field{
    width: 92%;
    padding: 5%;
}
.close--add-field img{
    width: 6%;
    cursor: pointer;
}
.container-list {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.field-name{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 10vh;
    justify-content: space-around;
}
.field-name input{
    width: 97%;
    height: 4vh;
    border: #DDDDDD solid 1px;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    font-size: 1.2em;
    color: rgb(71, 71, 71);
}
.field-name label{
    color: #8C8C8C;
}
.field-types{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    height: 42%;
}
.field-types--bottom{
    display: flex;
    -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
    justify-content: space-evenly;
}
.field-types--higher{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.field-types label{
    color: #8C8C8C;
}
.field-value{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 5vh;
    align-items: center;
}
.field-value-input {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 8vh;
}
.field-value-input input {
    width: 65%;
    height: 3vh;
    border: #DDDDDD solid 1px;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    font-size: 1em;
    padding: 1%;
    color: rgb(71, 71, 71);
}
.field-value--container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fields-document{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.form--add-field{
    width: 30%;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    align-items: center;
    height: 100%;
    z-index: 1;
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
    box-shadow:0 2px 5px 4px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}
.header-id{
    width: 8%;
}
.header-name{
    width: 50%;
}
.header-type{
    width: 14%;
}
.input--field-name{
    width: 50%;
    border: solid #DDDDDD 1px;
}
input[type=radio]:checked + img {
    filter: drop-shadow(0px 0px 2px #1d0088)
  }

.radio--field-types{
    background-color: white;
    height: 17vh;
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}
 .radio--field-types input{
    height: 13vh;
    width: 90%;
    cursor: pointer;
    opacity: 0;
}
.radio--field-types img{
    width: 50%;
}
.radio--field-types label{
    color: black;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 13vh;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    cursor: pointer;

}
.register-fields{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -o-transition: 0.3s linear;
    transition: 0.3s linear
}
.remove-value {
    background-image: url(https://image.flaticon.com/icons/svg/32/32178.svg);
    width: 20%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 3vh;
}
.row-actions{
    width: 10%;
    display: flex;
}
.row-edit{
    height: 4vh;
    background-image: url("https://image.flaticon.com/icons/svg/61/61456.svg");
    width: 50%;    
    background-size: 40% 100%;
    background-repeat:no-repeat;
    opacity: 0.5;
}
.row-edit-none{
    height: 4vh;
    width: 50%;    
    background-size: 40% 100%;
    background-repeat:no-repeat;
    opacity: 0.5;
}
.row-delete{
    height: 4vh;
    background-image: url("https://image.flaticon.com/icons/svg/60/60761.svg");
    width: 50%;    
    background-size: 40% 100%;
    background-repeat:no-repeat;
    opacity: 0.5;
}
.row-delete-none{
    height: 4vh;
    width: 50%;    
    background-size: 40% 100%;
    background-repeat:no-repeat;
    opacity: 0.5;
}
.row-id{
    width: 3%;
}
.row-name{
    width: 16%;
}
.row-type{
    width: 14%;
}
.table-fields{
    width: 65%;
}
.table-fields li {
    border-radius: 3px;
    padding: 17px 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.table-header {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    width: 65%;

}
.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
}
textarea:focus, input:focus, select:focus, button:focus {
    outline: 0;
}
.requiredFalse{
    visibility: hidden;
}
.requiredTrue{
    background: #AD113D;
    color: white;
    font-size: 0.8em;
    padding: 1%;
    border-radius: 7px;
}

/* media queries */

@media screen and (max-width: 1460px){
    .radio--field-types label{
        color: black;
        width: 90%;
        font-size: 0.8em;
    }
    .form--add-field{
        width: 35%;
        margin-top: 4%;
        height: 100%;
    }
}
@media screen and (max-width:1300px){
    .radio--field-types{
        height: 15vh;
        width: 28%;
    }
    .radio--field-types img{
        width: 40%;
        height: 70%;
    }
    .radio--field-types label{
        color: black;
        width: 90%;
        font-size: 0.7em;
    }
}
@media screen and (max-width:1220px){
    .form--add-field{
        width: 38%;
        height: 100%;
        margin-top: 4%;
    }
}
@media screen and (max-width:1050px){
    .form--add-field{
        width: 40%;
        margin-top: 4%;
        height: 100%;
    }
}
@media screen and (max-width:925px){
    .form--add-field{
        width: 50%;
        height: 100%;
        margin-top: 4%;
    }
    .row-actions{
        width: 15%;
        display: flex;
    }
}
@media screen and (max-width:815px){
    .form--add-field{
        width: 55%;
        height: 100%;
        margin-top: 4%;
    }
    .table-fields {
        width: 100%;
    }
    .row-actions{
        width: 15%;
        display: flex;
    }
}
@media screen and (max-width:735px){
    .form--add-field{
        width: 58%;
        height: 100%;
        margin-top: 4%;
    }
    .table-fields {
        width: 100%;
    }
    .row-actions{
        width: 15%;
        display: flex;
    }
}
@media screen and (max-width:670px){
    .form--add-field{
        width: 65%;
        height: 100%;
        margin-top: 4%;
    }
    .table-fields {
        width: 100%;
    }
    .row-actions{
        width: 20%;
        display: flex;
    }
}
@media screen and (max-width:610px){
    .form--add-field{
        width: 68%;
        height: 100%;
        margin-top: 4%;
    }
    .table-fields {
        width: 100%;
    }
    .row-actions{
        width: 20%;
        display: flex;
    }
}
@media screen and (max-width:570px){
    .form--add-field{
        width: 75%;
        height: 100%;
        margin-top: 4%;
    }
    .table-fields {
        width: 100%;
    }
    .row-actions{
        width: 20%;
        display: flex;
    }
}
@media only screen and (max-width:520px){
    .form--add-field{
        width: 80%;
        height: 100%;
        margin-top: 4%;
    }
    .table-fields {
        width: 100%;
    }
    .row-actions{
        width: 20%;
        display: flex;
    }
}
@media only screen and (max-width:450px){
    .form--add-field{
        width: 100%;
        height: 90%;
        margin-top: 4%;
    }
    .table-fields {
        width: 100%;
    }
    .row-actions{
        width: 20%;
        display: flex;
    }
}












.table-row{
    display: block;
}
.visibleFalse{
    visibility: hidden;
    display: none;
}