* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all {
    display: flex;

}
.formView {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}
.divTitle {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 8em;
    margin-left: 10em;
}
.divTitle label {
    align-self: baseline;
}

.viewTitle {
    width: 639px;
    height: 48px;
    margin-top: 1em;
    background: #F9F9F9;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    padding: 2%;    
}
.conditionsView {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 118vh;
    
}
.conditionsView label {
    align-self: baseline;
    margin-top: 2em;
    margin-left: 22vh;
    margin-bottom: -3vh;
}
.itensView {
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 48px;
    margin-top: 1em;
    margin-left: 12%;
    margin-bottom: 2%;
}
.itensView-extra {
    display: flex;
    justify-content: space-between;
    width: 89vh;
    height: 48px;
    margin-left: 22%;
    align-items: center;
}
.item {
    margin-top: 1em;

    width: 146px;
    height: 48px;
    background: #F9F9F9;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.itemExtra {
    width: 146px;
    height: 48px;
    background: #F9F9F9;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.divAdd {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 700px;
    margin-top: 2em;
    margin-left: 6%;
}
.add {
    transition: all 0.5s;
    width: 136px;
    height: 44px;
    background: #242C91;
    border-radius: 6px;
    border: none;
    align-self: flex-end;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.add:hover {
    background-color: rgb(74, 83, 202);

}
.save {
    margin-top: 1em;
    margin-bottom: 3vh;
    transition: all 0.5s;
    width: 136px;
    height: 44px;
    background: #AD1130;
    border-radius: 6px;
    border: none;
    align-self: flex-end;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.save:hover {
    background-color: rgb(202, 74, 74);
}
/* .listView {
    height: 300vh;
    width: 50vh;
    margin-left: 40px;
    background: #F6F6F6;
    box-shadow: 1px 0px 9px rgba(0, 0, 0, 0.39);
} */
.general .remove-value {
    background-image: url(https://image.flaticon.com/icons/svg/32/32178.svg);
    width: 3vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 3vh;
    cursor: pointer;
    margin: auto;
}
.general {
    width: 135vh;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 1%;
}