body{
    background-color:#383838;
    font-family: 'Exo 2', sans-serif;
  }
  .sidebar, .sidebar *, .sidebar:before{
    transition: all 0.24s ease-in-out;
  }
  .sidebar {
    margin-top: 60px;
    width: 11%;
    height: 100%;
    position: fixed;
    top: 365px;
    transform: translate(0%,-50%);
    margin-left: -90px;
    background-color: #120055;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
  
  .sidebar li{
    opacity:0;
  }
  .sidebar:before{
    position:absolute;
    right:10px;
    top:50%;
    transform: translate(0%,-50%);
    color:#bbb;
    font-size:2em;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
  }
  .sidebar:hover:before{
    opacity:0;
  }
  .sidebar:hover{
    margin-left:0px;
    width:300px;

  }
  .sidebar:hover li{
    opacity:1;
  }
  .sidebar a{
    text-decoration:none;
    color:#bbb;
    line-height: 50px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
    padding: 0 20px;
    display:block;
    text-align: center;
  }
  .sidebar a:hover{
    color:#fff;
  }
  .sidebar li{
    height:50px;
    border-bottom: 1px solid rgba(255,255,255,0.24);
  }
  .sidebar li:hover{
    background-color: #AD113D;
  }
  .sidebar li:last-child{
    border-bottom:none;
    border-radius: 0px 0px 5px 0px;
  }
  .sidebar li:first-child{
    border-radius: 0px 5px 0px 0px;
  }
  .account-img {
      width: 50px;
      height: 50px;
      background-image: url("../images/icons/baseline_account_circle_white_48dp.png");
  }
  .doc-fields {
    width: 50px;
    height: 50px;
    background-image: url(../images/icons/baseline_post_add_white_48dp.png);
  }
  .views-add {
    width: 50px;
    height: 50px;
    background-image: url(../images/icons/baseline_dynamic_feed_white_48dp.png);
}
.doc-list {
    width: 50px;
    height: 50px;
    background-image: url(../images/icons/baseline_table_chart_white_48dp.png);
}