* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.inputFixo {
    flex-direction: column;
    margin: auto;
    display: flex;
}
.inputMovel {
    margin-top: 2em;
}
.nomeCampo {
    padding: 1em;
    width: 690px;
    height: 48px;
    margin-top: 8em;
    top: 154px;
    border: none;
    background: #F9F9F9;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 3px;
}
.descricao {
    padding: 1em;
    width: 690px;
    height: 129px;
    margin-top: 2em;
    top: 261px;
    background: #F9F9F9;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    resize: none;
    border: none;
}
.list {
    width: 690px;
    height: 48px;
    left: 385px;
    top: 154px;
    background: #F9F9F9;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    border: none;
    padding: 1em;
    
}
.number {
    width: 639px;
    height: 48px;
    left: 385px;
    top: 154px;
    background: #F9F9F9;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    border: none;
    padding: 1em;
}
.date {
    width: 639px;
    height: 48px;
    left: 385px;
    top: 154px;
    background: #F9F9F9;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    border: none;
    padding: 1em;
}
.input-file{
    padding: 2% 0;
    -webkit-appearance: none; 
}
.input-file::-webkit-file-upload-button:hover{
    background:rgb(89, 97, 207);
}
.input-file::-webkit-file-upload-button{
    background-color: #242C91;
    border: none;
    color: #ffffff;
    height: 5vh;
    border-radius: 5px;
    cursor: pointer;
}
.text {
    width: 690px;
    height: 48px;
    left: 385px;
    top: 154px;
    background: #F9F9F9;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    border: none;
    padding: 1em;
}
.multiple-selection {
    width: 639px;
    height: 48px;
    left: 385px;
    top: 154px;
    background: #F9F9F9;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    border: none;
    padding: 1em;
}
.lista {
    text-align: center;
    list-style-type: none;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 3em;
}
.cancel {
    color: gray;
    font-size: 16px;
    font-weight: bold;
    width: 136px;
    height: 44px;
    background: #E3E3E3;
    border: 1px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}

.send {
    transition: all 0.5s;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 136px;
    height: 44px;
    background: #242C91;
    border: 1px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}
.send:hover {
    background-color: rgb(74, 83, 202);

}